<nav class="dashboard-nav">
        <div class="navbar-logo">
            <img src="/imgs/logotipo.png" alt="">
        </div>

        <ul class="nav-links">
            <li class="nav-link-selected"><a href="/home">Home</a></li>
            <li><a href="">Fazer análise</a></li>
            <li><a href="">Seus relatórios</a></li>
            <li><a href="">Mapa de monitoramento</a></li>
            <li><a href="/config-account">Configurações da conta</a></li>
            <li><a href="">Ajuda</a></li>
        </ul>

        <div class="container-button-exit">
            <a href="/"><button id="exit-account">Sair da conta</button></a>
        </div>
    </nav>