<nav class="navbar-landingpage pattern-padding">
    <div class="logo">
        <a href="/">
            <img src="/imgs/logotipo.png" alt="logotipo PonSkan">
        </a>
    </div>

    <div class="wrapper-nav-links">
        <div class="simple-menu">
            <a href="" class="selected-nav-link link-decoration">Inicio</a>
            <a href="">Nossa Inovação</a>
            <a href="">Agricultura e Tecnologia</a>
        </div>

        <div class="mini-menu">
            <a href="" class="selected-nav-link link-decoration">Inicio</a>
            <a class="desfocated" href="">Nossa Inovação</a>
            <a class="desfocated" href="">Agricultura e Tecnologia</a>
        </div>

        <a id="make-account" href="">Criar Conta</a>
        <a id="login" href="/home">Login</a>
    </div>

</nav>