<nav class="navbar-landingpage">
    <div class="logo">

    </div>

    <div class="wrapper-nav-links">
        <a href="">Inicio</a>
        <a href="">Nossa Inovação</a>
        <a href="">Agricultura e Tecnologia</a>
    </div>
</nav>