<nav class="navbar-landingpage">
    <div class="logo">

    </div>

    <div class="wrapper-nav-links">
        <a href="" class="selected-nav-link link_decoration">Inicio</a>
        <a href="">Nossa Inovação</a>
        <a href="">Agricultura e Tecnologia</a>
        <a href="">Criar Conta</a>
        <a href="">Login</a>
    </div>
</nav>