<%- include('partials/header.ejs')  %>

<div class="dashboard-wrapper">
    <%- include('partials/navbar-side.ejs') %>
    <main class="dashboard-content">

        <div class="analisys-content">
            <h1>Análise de imagens</h1>
            <p>Faça upload das imagens para fazer análise</p>
            <a href="">Fazer upload</a>
        </div>

    </main>
</div>

<%- include('partials/footer.ejs') %>