<%- include('partials/header.ejs')  %>

<div class="dashboard-wrapper">
    <%- include('partials/navbar-side.ejs') %>
    
    <main class="dashboard-content">
        <h1 class="_txt-gray _font-size-40">Configurações de conta</h1>

        <div class=" _background-white _border-radius-16 _padding-all-16 _flex _flex-row _box-shadow-1">
            <div class="_circle">

            </div>
        </div>
    </main>
</div>

<%- include('partials/footer.ejs') %>