<%- include('partials/header.ejs')  %>

<div class="dashboard-wrapper">
    <nav class="dashboard-nav">
    
    </nav>
    
    <main class="dashboard-content">
    
        
    </main>
</div>

<%- include('partials/footer.ejs') %>