<%- include('partials/header.ejs') %>

<!-- Sessão 1 -->
<section id="main-index" class="main-index">
    <%- include('partials/navbar-landingpage.ejs') %>

    <header class="header-index pattern-padding">
        <div class="left-content-header-index">
            <h1>Ajudamos a <span class="emphasis">salvar</span> sua <span class="emphasis">safra</span></h1>
            <p>
                Conheça a tecnologia que auxilia na <span class="text-underline">produtividade</span>
                e alta <span class="text-underline">qualidade</span> dos frutos</p>
        </div>

        <div class="right-content-header-index">
            <img src="/imgs/img-header.png" alt="[Imagem de um fazendeiro usando um tablet em um campo de plantação]">
        </div>
        
    </header>
</section>

<!-- Sessão 2 -->
<section id="agriculture" class="agriculture">
    <h1 class="section-title">Agricultura e tecnologia</h1>
    <h2 class="section-subtitle">Atuando em diversos setores da Agricultura</h2>

    <div class="part1">
        <p class="section-subtitle">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab, repellendus illum blanditiis ratione magnam dolor? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit, repellendus.</p>
    </div>

    <div class="part2">
        <div></div>
        <div></div>
        <div></div>
    </div>
</section>

<!-- Sessão 3 -->
<section id="inovation" class="inovation">
    <div class="container-img-inovation">
        <img src="/imgs/tree.png" alt="[Imagem de uma árvore com foco na raiz, simbolizando inovação]">
    </div>
    
    <div class="right-content-inovation pattern-padding">
        <h1 class="section-title">O que é a PonSkan?</h1>
        <h2 class="section-subtitle">Descubra como funciona nossa solução</h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget eleifend nisi. Nam posuere tristique pulvinar. <br>
            Nunc lacinia eu urna eu molestie. In arcu metus, vulputate vitae iaculis quis, efficitur eu massa. Ut ac molestie urna. Sed dapibus molestie lacus. Proin in eros malesuada, lobortis lacus luctus, rhoncus ligula.
        </p>
    </div>
</section>


<%- include('partials/footer-landingpage.ejs') %>
<%- include('partials/footer.ejs') %>
