<%- include('partials/header.ejs') %>

<main class="main_index">
    <%- include('partials/navbar-landingpage.ejs') %>

    <header class="header_index">
        <div class="left_content_header_index">
            <h1>Ajudamos a salvar sua safra</h1>
            <p>Conheça a tecnologia que auxilia na produtividade e alta qualidade dos frutos</p>
        </div>

        <div class="right_content_header_index">
            <img src="/imgs/img_header.png" alt="">
            
            <!-- <div class="flutter_img">
                <img src="/imgs/img_hand_fruit.png" alt="">
            </div> -->
        </div>

    </header>


</main>

<%- include('partials/footer.ejs') %>
