<%- include('partials/header.ejs') %>

<!-- Sessão 1 -->
<section class="main_index">
    <%- include('partials/navbar-landingpage.ejs') %>

    <header class="header_index pattern_padding">
        <div class="left_content_header_index">
            <h1>Ajudamos a <span class="emphasis">salvar</span> sua <span class="emphasis">safra</span></h1>
            <p>
                Conheça a tecnologia que auxilia na <span class="text_underline">produtividade</span>
                e alta <span class="text_underline">qualidade</span> dos frutos</p>
        </div>

        <div class="right_content_header_index">
            <img src="/imgs/img_header.png" alt="">
        </div>
        
    </header>
</section>

<!-- Sessão 2 -->
<section class="agriculture">
    <h1 class="section_title">Agricultura e tecnologia</h1>

    <div class="part1">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab, repellendus illum blanditiis ratione magnam dolor? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit, repellendus.</p>
    </div>

        
        <div></div>
        <div></div>
        <div></div>
    </div>
</section>

<!-- Sessão 3 -->
<section class="inovation">
    <div class="container_img_inovation">
        <img src="/imgs/tree.png" alt="">
    </div>
    
    <div class="right_content_inovation pattern_padding">
        <h1 class="section_title">O que é a PonSkan?</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget eleifend nisi. Nam posuere tristique pulvinar. <br>
            Nunc lacinia eu urna eu molestie. In arcu metus, vulputate vitae iaculis quis, efficitur eu massa. Ut ac molestie urna. Sed dapibus molestie lacus. Proin in eros malesuada, lobortis lacus luctus, rhoncus ligula.
        </p>
    </div>
</section>


<%- include('partials/footer.ejs') %>
