<%- include('partials/header.ejs')  %>

<div class="dashboard-wrapper">
    <%- include('partials/navbar-side.ejs') %>
    <main class="dashboard-content">
        <h1 class="_justify-center _align-center _font-size-96 _color-gray">Em breve</h1>
    </main>
</div>

<%- include('partials/footer.ejs') %>