<%- include('partials/header.ejs')  %>

<div class="dashboard-wrapper">
    <%- include('partials/navbar-side.ejs') %>
    <main class="dashboard-content">        
        <header class="title-page-reports">
            <div class="title-page-wrapper">
                <h1>Meus relatórios</h1>
                <p>Veja o resultado das análises</p>
            </div>
            
            <div class="export-doc-wrapper">
                <p>
                    <svg fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 15C3 17.8284 3 19.2426 3.87868 20.1213C4.75736 21 6.17157 21 9 21H15C17.8284 21 19.2426 21 20.1213 20.1213C21 19.2426 21 17.8284 21 15" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 3V16M12 16L16 11.625M12 16L8 11.625" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                    <span>Baixar resumo da análise</span>
                </p>
            </div>
        </header>

        <section class="data-reports-section">
            <div class="data-reports-wrapper">
                <div class="data-reports">
                    <p><span>Data da análise:</span> xx/xx/xxxx</p>
                    <p>4 imagens enviadas</p>
                </div>

                <div class="data-reports selected">
                    <p><span>Data da análise:</span> xx/xx/xxxx</p>
                    <p>4 imagens enviadas</p>
                </div>
                
                <div class="data-reports">
                    <p><span>Data da análise:</span> xx/xx/xxxx</p>
                    <p>4 imagens enviadas</p>
                </div>

                <div class="data-reports">
                    <p><span>Data da análise:</span> xx/xx/xxxx</p>
                    <p>4 imagens enviadas</p>
                </div>

                <div class="data-reports">
                    <p><span>Data da análise:</span> xx/xx/xxxx</p>
                    <p>4 imagens enviadas</p>
                </div>
            </div>

            <hr>
        </section>

        <section class="send-images-section">
            <p class="title-section-reports">Imagens enviadas</p>
            <div class="send-images-wrapper">
                <div class="send-image"></div>
                <div class="send-image"></div>
                <div class="send-image"></div>
                <div class="send-image"></div>  
            </div>
        </section>

        <section class="probability-section">
            <p class="title-section-reports">Probabilidade por características observadas</p>

            <div class="probability-wrapper">
                <div class="probability-graphic">
                    <p>Coloração das manchas na fruta</p>
                    <svg width="256" height="136" viewBox="0 0 256 136" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M128 61.44C164.76 61.44 194.56 91.2399 194.56 128H256C256 57.3076 198.692 0 128 0C57.3076 0 8.63644e-05 57.3076 8.63644e-05 128H61.4401C61.4401 91.2399 91.24 61.44 128 61.44Z" fill="#D9D9D9"/><path d="M96.8401 69.1725C75.7829 80.3495 61.4401 102.499 61.4401 128H8.63644e-05C-0.0526374 82.6607 24.0368 38.7058 66.6201 15.425L96.8401 69.1725Z" fill="#FCA211"/><path d="M103.448 128.32C101.869 128.32 100.323 128.096 98.808 127.648C97.3147 127.179 96.056 126.539 95.032 125.728L96.824 122.496C97.6347 123.157 98.616 123.691 99.768 124.096C100.92 124.501 102.125 124.704 103.384 124.704C104.877 124.704 106.04 124.405 106.872 123.808C107.704 123.189 108.12 122.357 108.12 121.312C108.12 120.288 107.736 119.477 106.968 118.88C106.2 118.283 104.963 117.984 103.256 117.984H101.208V115.136L107.608 107.52L108.152 109.088H96.12V105.6H111.384V108.384L104.984 116L102.808 114.72H104.056C106.808 114.72 108.867 115.339 110.232 116.576C111.619 117.792 112.312 119.36 112.312 121.28C112.312 122.539 111.992 123.701 111.352 124.768C110.712 125.835 109.731 126.699 108.408 127.36C107.107 128 105.453 128.32 103.448 128.32ZM118.465 128L127.713 107.264L128.801 109.12H116.097L118.081 107.104V112.928H114.209V105.6H131.617V108.384L122.913 128H118.465ZM137.357 128L152.653 105.6H155.789L140.493 128H137.357ZM139.213 117.664C138.167 117.664 137.239 117.408 136.429 116.896C135.618 116.384 134.989 115.669 134.541 114.752C134.093 113.835 133.868 112.757 133.868 111.52C133.868 110.283 134.093 109.205 134.541 108.288C134.989 107.371 135.618 106.656 136.429 106.144C137.239 105.632 138.167 105.376 139.213 105.376C140.301 105.376 141.239 105.632 142.029 106.144C142.839 106.656 143.469 107.371 143.917 108.288C144.365 109.205 144.589 110.283 144.589 111.52C144.589 112.757 144.365 113.835 143.917 114.752C143.469 115.669 142.839 116.384 142.029 116.896C141.239 117.408 140.301 117.664 139.213 117.664ZM139.245 115.424C140.098 115.424 140.759 115.093 141.229 114.432C141.719 113.749 141.965 112.779 141.965 111.52C141.965 110.261 141.719 109.301 141.229 108.64C140.759 107.957 140.098 107.616 139.245 107.616C138.391 107.616 137.709 107.957 137.197 108.64C136.706 109.323 136.461 110.283 136.461 111.52C136.461 112.757 136.706 113.717 137.197 114.4C137.709 115.083 138.391 115.424 139.245 115.424ZM153.901 128.224C152.855 128.224 151.927 127.968 151.117 127.456C150.306 126.944 149.677 126.229 149.229 125.312C148.781 124.395 148.557 123.317 148.557 122.08C148.557 120.843 148.781 119.765 149.229 118.848C149.677 117.931 150.306 117.216 151.117 116.704C151.927 116.192 152.855 115.936 153.901 115.936C154.989 115.936 155.927 116.192 156.717 116.704C157.527 117.216 158.157 117.931 158.605 118.848C159.053 119.765 159.277 120.843 159.277 122.08C159.277 123.317 159.053 124.395 158.605 125.312C158.157 126.229 157.527 126.944 156.717 127.456C155.927 127.968 154.989 128.224 153.901 128.224ZM153.901 125.984C154.754 125.984 155.426 125.643 155.917 124.96C156.407 124.277 156.653 123.317 156.653 122.08C156.653 120.843 156.407 119.883 155.917 119.2C155.426 118.517 154.754 118.176 153.901 118.176C153.069 118.176 152.397 118.517 151.885 119.2C151.394 119.861 151.149 120.821 151.149 122.08C151.149 123.339 151.394 124.309 151.885 124.992C152.397 125.653 153.069 125.984 153.901 125.984Z" fill="#FCA211"/></svg>
                    <p>Probabilidade da doença black spot estar presente na planta</p>
                </div>
                <div class="probability-graphic">
                    <p>Textura e relevo do fruto</p>
                    <svg width="256" height="136" viewBox="0 0 256 136" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M194.56 128C194.56 91.2399 164.76 61.44 128 61.44V0C198.692 0 256 57.3075 256 128H194.56ZM66.7166 15.5966C26.9642 37.316 8.63644e-05 79.5091 8.63644e-05 128H61.4401C61.4401 102.499 75.7827 80.3495 96.8401 69.1725L66.7166 15.5966Z" fill="#D9D9D9"/><path d="M96.8401 69.1725C75.7827 80.3495 61.4401 102.499 61.4401 128H8.63644e-05C-0.0526374 82.6607 24.0368 38.7058 66.6201 15.425L66.7166 15.5966L96.8401 69.1725Z" fill="#FCA211"/><path d="M128 61.44V0C105.799 0 84.9172 5.65239 66.7166 15.5966L96.8401 69.1725C105.31 64.6767 114.866 61.9544 125.013 61.5059C126.003 61.4621 126.999 61.44 128 61.44Z" fill="#FCA211"/><path d="M102.832 128.32C101.253 128.32 99.7067 128.096 98.192 127.648C96.6987 127.179 95.44 126.539 94.416 125.728L96.176 122.496C96.9867 123.157 97.968 123.691 99.12 124.096C100.293 124.501 101.509 124.704 102.768 124.704C104.24 124.704 105.392 124.395 106.224 123.776C107.077 123.157 107.504 122.325 107.504 121.28C107.504 120.576 107.323 119.957 106.96 119.424C106.619 118.891 106 118.485 105.104 118.208C104.229 117.931 103.024 117.792 101.488 117.792H96.08L97.232 105.6H110.384V109.088H98.768L100.944 107.104L100.08 116.224L97.904 114.272H102.416C104.635 114.272 106.416 114.571 107.76 115.168C109.125 115.744 110.117 116.555 110.736 117.6C111.376 118.624 111.696 119.797 111.696 121.12C111.696 122.421 111.376 123.616 110.736 124.704C110.096 125.792 109.115 126.667 107.792 127.328C106.491 127.989 104.837 128.32 102.832 128.32ZM123.44 128.32C121.669 128.32 120.069 127.872 118.64 126.976C117.232 126.08 116.122 124.779 115.312 123.072C114.501 121.344 114.096 119.253 114.096 116.8C114.096 114.347 114.501 112.267 115.312 110.56C116.122 108.832 117.232 107.52 118.64 106.624C120.069 105.728 121.669 105.28 123.44 105.28C125.232 105.28 126.832 105.728 128.24 106.624C129.648 107.52 130.757 108.832 131.568 110.56C132.4 112.267 132.816 114.347 132.816 116.8C132.816 119.253 132.4 121.344 131.568 123.072C130.757 124.779 129.648 126.08 128.24 126.976C126.832 127.872 125.232 128.32 123.44 128.32ZM123.44 124.704C124.485 124.704 125.392 124.427 126.16 123.872C126.928 123.296 127.525 122.421 127.952 121.248C128.4 120.075 128.624 118.592 128.624 116.8C128.624 114.987 128.4 113.504 127.952 112.352C127.525 111.179 126.928 110.315 126.16 109.76C125.392 109.184 124.485 108.896 123.44 108.896C122.437 108.896 121.541 109.184 120.752 109.76C119.984 110.315 119.376 111.179 118.928 112.352C118.501 113.504 118.288 114.987 118.288 116.8C118.288 118.592 118.501 120.075 118.928 121.248C119.376 122.421 119.984 123.296 120.752 123.872C121.541 124.427 122.437 124.704 123.44 124.704ZM138.763 128L154.059 105.6H157.195L141.899 128H138.763ZM140.619 117.664C139.573 117.664 138.645 117.408 137.835 116.896C137.024 116.384 136.395 115.669 135.947 114.752C135.499 113.835 135.275 112.757 135.275 111.52C135.275 110.283 135.499 109.205 135.947 108.288C136.395 107.371 137.024 106.656 137.835 106.144C138.645 105.632 139.573 105.376 140.619 105.376C141.707 105.376 142.645 105.632 143.435 106.144C144.245 106.656 144.875 107.371 145.323 108.288C145.771 109.205 145.995 110.283 145.995 111.52C145.995 112.757 145.771 113.835 145.323 114.752C144.875 115.669 144.245 116.384 143.435 116.896C142.645 117.408 141.707 117.664 140.619 117.664ZM140.651 115.424C141.504 115.424 142.165 115.093 142.635 114.432C143.125 113.749 143.371 112.779 143.371 111.52C143.371 110.261 143.125 109.301 142.635 108.64C142.165 107.957 141.504 107.616 140.651 107.616C139.797 107.616 139.115 107.957 138.603 108.64C138.112 109.323 137.867 110.283 137.867 111.52C137.867 112.757 138.112 113.717 138.603 114.4C139.115 115.083 139.797 115.424 140.651 115.424ZM155.307 128.224C154.261 128.224 153.333 127.968 152.523 127.456C151.712 126.944 151.083 126.229 150.635 125.312C150.187 124.395 149.963 123.317 149.963 122.08C149.963 120.843 150.187 119.765 150.635 118.848C151.083 117.931 151.712 117.216 152.523 116.704C153.333 116.192 154.261 115.936 155.307 115.936C156.395 115.936 157.333 116.192 158.123 116.704C158.933 117.216 159.563 117.931 160.011 118.848C160.459 119.765 160.683 120.843 160.683 122.08C160.683 123.317 160.459 124.395 160.011 125.312C159.563 126.229 158.933 126.944 158.123 127.456C157.333 127.968 156.395 128.224 155.307 128.224ZM155.307 125.984C156.16 125.984 156.832 125.643 157.323 124.96C157.813 124.277 158.059 123.317 158.059 122.08C158.059 120.843 157.813 119.883 157.323 119.2C156.832 118.517 156.16 118.176 155.307 118.176C154.475 118.176 153.803 118.517 153.291 119.2C152.8 119.861 152.555 120.821 152.555 122.08C152.555 123.339 152.8 124.309 153.291 124.992C153.803 125.653 154.475 125.984 155.307 125.984Z" fill="#FCA211"/></svg>
                    <p>Probabilidade da doença black spot estar presente na planta</p>
                </div>
                <div class="probability-graphic">
                    <p>Halo de contraste</p>
                    <svg width="256" height="136" viewBox="0 0 256 136" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M96.8387 69.17L66.7166 15.5966C26.9642 37.316 8.63644e-05 79.5091 8.63644e-05 128H61.4401C61.4401 102.499 75.7813 80.347 96.8387 69.17ZM194.56 128C194.56 106.478 184.346 87.3422 168.5 75.1754L207.5 27.6753C237.049 51.1224 256 87.3481 256 128H194.56Z" fill="#D9D9D9"/><path d="M96.8387 69.17C75.7813 80.347 61.4401 102.499 61.4401 128H8.63644e-05C-0.0526374 82.6607 24.0368 38.7058 66.6201 15.425L66.7166 15.5966L96.8387 69.17Z" fill="#FCA211"/><path d="M96.8387 69.17C105.309 64.6741 114.866 61.954 125.013 61.5059C126.003 61.4622 126.999 61.44 128 61.44C143.238 61.44 157.281 66.5608 168.5 75.1754L207.5 27.6753C185.664 10.3486 158.041 0 128 0C105.799 0 84.9172 5.65239 66.7166 15.5966L96.8387 69.17Z" fill="#FCA211"/><path d="M103.152 128L112.4 107.264L113.488 109.12H100.784L102.768 107.104V112.928H98.896V105.6H116.304V108.384L107.6 128H103.152ZM127.596 128.32C125.825 128.32 124.225 127.872 122.796 126.976C121.388 126.08 120.278 124.779 119.468 123.072C118.657 121.344 118.252 119.253 118.252 116.8C118.252 114.347 118.657 112.267 119.468 110.56C120.278 108.832 121.388 107.52 122.796 106.624C124.225 105.728 125.825 105.28 127.596 105.28C129.388 105.28 130.988 105.728 132.396 106.624C133.804 107.52 134.913 108.832 135.724 110.56C136.556 112.267 136.972 114.347 136.972 116.8C136.972 119.253 136.556 121.344 135.724 123.072C134.913 124.779 133.804 126.08 132.396 126.976C130.988 127.872 129.388 128.32 127.596 128.32ZM127.596 124.704C128.641 124.704 129.548 124.427 130.316 123.872C131.084 123.296 131.681 122.421 132.108 121.248C132.556 120.075 132.78 118.592 132.78 116.8C132.78 114.987 132.556 113.504 132.108 112.352C131.681 111.179 131.084 110.315 130.316 109.76C129.548 109.184 128.641 108.896 127.596 108.896C126.593 108.896 125.697 109.184 124.908 109.76C124.14 110.315 123.532 111.179 123.084 112.352C122.657 113.504 122.444 114.987 122.444 116.8C122.444 118.592 122.657 120.075 123.084 121.248C123.532 122.421 124.14 123.296 124.908 123.872C125.697 124.427 126.593 124.704 127.596 124.704ZM142.919 128L158.215 105.6H161.351L146.055 128H142.919ZM144.775 117.664C143.73 117.664 142.802 117.408 141.991 116.896C141.18 116.384 140.551 115.669 140.103 114.752C139.655 113.835 139.431 112.757 139.431 111.52C139.431 110.283 139.655 109.205 140.103 108.288C140.551 107.371 141.18 106.656 141.991 106.144C142.802 105.632 143.73 105.376 144.775 105.376C145.863 105.376 146.802 105.632 147.591 106.144C148.402 106.656 149.031 107.371 149.479 108.288C149.927 109.205 150.151 110.283 150.151 111.52C150.151 112.757 149.927 113.835 149.479 114.752C149.031 115.669 148.402 116.384 147.591 116.896C146.802 117.408 145.863 117.664 144.775 117.664ZM144.807 115.424C145.66 115.424 146.322 115.093 146.791 114.432C147.282 113.749 147.527 112.779 147.527 111.52C147.527 110.261 147.282 109.301 146.791 108.64C146.322 107.957 145.66 107.616 144.807 107.616C143.954 107.616 143.271 107.957 142.759 108.64C142.268 109.323 142.023 110.283 142.023 111.52C142.023 112.757 142.268 113.717 142.759 114.4C143.271 115.083 143.954 115.424 144.807 115.424ZM159.463 128.224C158.418 128.224 157.49 127.968 156.679 127.456C155.868 126.944 155.239 126.229 154.791 125.312C154.343 124.395 154.119 123.317 154.119 122.08C154.119 120.843 154.343 119.765 154.791 118.848C155.239 117.931 155.868 117.216 156.679 116.704C157.49 116.192 158.418 115.936 159.463 115.936C160.551 115.936 161.49 116.192 162.279 116.704C163.09 117.216 163.719 117.931 164.167 118.848C164.615 119.765 164.839 120.843 164.839 122.08C164.839 123.317 164.615 124.395 164.167 125.312C163.719 126.229 163.09 126.944 162.279 127.456C161.49 127.968 160.551 128.224 159.463 128.224ZM159.463 125.984C160.316 125.984 160.988 125.643 161.479 124.96C161.97 124.277 162.215 123.317 162.215 122.08C162.215 120.843 161.97 119.883 161.479 119.2C160.988 118.517 160.316 118.176 159.463 118.176C158.631 118.176 157.959 118.517 157.447 119.2C156.956 119.861 156.711 120.821 156.711 122.08C156.711 123.339 156.956 124.309 157.447 124.992C157.959 125.653 158.631 125.984 159.463 125.984Z" fill="#FCA211"/></svg>
                    <p>Probabilidade da doença black spot estar presente na planta</p>
                </div>
            </div>

            <div class="total-probability">
                <p>Probabilidade média da Black Spot estar presente: <span>52,33%</span> </p>
            </div>
        </section>

        <section class="location">
            <p class="title-section-reports">Referência geográfica</p>
            
            <div class="location-wrapper">
                <div class="map"></div>
                <div class="lat-long">
                    <h3>Localização aproximada</h3>
                    <p><span class="emphasis">latitude:</span class="emphasis"> -22.185833</p>
                    <p><span class="emphasis">longitude:</span> -47.39</p>
                </div>
            </div>
        </section>

        <section class="action-plan-section">
            <p class="title-section-reports">Plano de ação</p>

            <div class="action-plan-wrapper">
                <div class="emphasis-action-plan"></div>

                <div class="action-plan-content">
                    <p><span class="emphasis">Nível de alerta médio</span></p>
                    <p>Remova e destrua (enterrar ou queimar, conforme a legislação local) todos os frutos caídos e aqueles com sintomas evidentes. <span class="emphasis">Não deixe-os no chão</span>. Se houver grande quantidade de galhos secos na planta (que também abrigam o fungo), realize uma poda de limpeza.</p>
                </div>
            </div>
        </section>
    </main>
</div>

<%- include('partials/footer.ejs') %>