@charset "UTF-8";
html, body {
  font-size: 100%;
}

body {
  padding-top: 12px;
  margin: 0;
  max-width: 100%;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-VariableFont_wght") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: "Montserrat", sans-serif;
}

/* Isso garante que a largura e altura definidas JÁ INCLUEM o padding e border. */
*, *::before, *::after {
  box-sizing: border-box;
}

.pattern-padding {
  padding-left: clamp(24px, 6.2466px + 4.9315vw, 96px);
  padding-right: clamp(24px, 6.2466px + 4.9315vw, 96px);
}

:root {
  --text-color: #394552;
  --main-color: #fca211;
  --main-color50: #fca21181;
}

.navbar-landingpage {
  display: flex;
  width: 100%;
  height: 72px;
  margin: 0;
}

.logo {
  width: 150px;
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
}

.logo a img {
  width: 100%;
}

.wrapper-nav-links {
  display: flex;
  flex-grow: 1;
  height: 100%;
  justify-content: right;
  align-items: center;
}

.wrapper-nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
  padding: 8px 16px;
  position: relative;
  transition: 0.2s;
}

.wrapper-nav-links a:hover {
  color: var(--main-color);
}

.selected-nav-link {
  color: var(--main-color) !important;
}

.link_decoration::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 4px;
  transition: 0.3s;
}

.desfocated {
  color: rgb(189, 189, 189) !important;
}

#make-account {
  margin-left: clamp(0px, -7.8904px + 2.1918vw, 32px);
  margin-right: clamp(0px, -7.8904px + 2.1918vw, 32px);
  width: fit-content;
}

#login {
  border-radius: 12px;
  border: 3px solid var(--main-color50);
}

.mini-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 900px) {
  .simple-menu {
    display: none;
  }
  .mini-menu {
    display: flex;
  }
  #make-account {
    padding: 0;
  }
}
.header_index {
  width: 100%;
  display: flex;
  z-index: 10;
  flex-wrap: nowrap;
}

.left_content_header_index {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 96px;
  height: fit-content;
}

.left_content_header_index h1 {
  font-size: clamp(2rem, 0.7727rem + 5.4545vw, 6rem);
  font-weight: bolder;
  color: #394552;
  margin-bottom: 10px;
  margin-top: 0;
  overflow-x: hidden;
  max-width: 470px;
}

.left_content_header_index p {
  display: flex;
  font-size: clamp(1rem, 0.8977rem + 0.4545vw, 1.25rem);
  color: #394552;
  max-width: 450px;
}

.right_content_header_index {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding-top: 96px;
  padding-left: 24px;
}

.right_content_header_index img {
  width: clamp(300px, 276.1644px + 23.2877vw, 700px);
  height: fit-content;
}

.flutter_img {
  display: flex;
  justify-content: right;
  width: 100%;
  overflow-x: hidden;
}

.flutter_img img {
  transform: translate(130px);
  width: calc(500px + 15vw);
}

@media (max-width: 900px) {
  .header_index {
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
  }
  .right_content_header_index {
    padding-top: 24px;
  }
  .left_content_header_index {
    padding-top: 48px;
    justify-content: center;
    flex-grow: initial;
  }
}

/*# sourceMappingURL=main.css.map */
