@charset "UTF-8";
html, body {
  font-size: 100%;
}

body {
  padding-top: 12px;
  margin: 0;
  max-width: 100%;
  background-color: #fff;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-VariableFont_wght") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: "Montserrat", sans-serif;
}

/* Isso garante que a largura e altura definidas JÁ INCLUEM o padding e border. */
*, *::before, *::after {
  box-sizing: border-box;
}

.pattern_padding {
  padding-left: clamp(24px, 6.2466px + 4.9315vw, 96px);
  padding-right: clamp(24px, 6.2466px + 4.9315vw, 96px);
}

:root {
  --text-color: #394552;
  --main-color: #fca211;
  --main-color50: #fca21181;
}

.navbar-landingpage {
  display: flex;
  width: 100%;
  height: 72px;
  margin: 0;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1568627451);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  position: fixed;
  top: 0;
  background-color: #F8F8F8;
  z-index: 99;
}

.logo {
  width: 150px;
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
}

.logo a img {
  width: 100%;
}

.wrapper-nav-links {
  display: flex;
  flex-grow: 1;
  height: 100%;
  justify-content: right;
  align-items: center;
}

.wrapper-nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
  padding: 8px 16px;
  position: relative;
  transition: 0.2s;
}

.wrapper-nav-links a:hover {
  color: var(--main-color);
}

.selected-nav-link {
  color: var(--main-color) !important;
}

.link_decoration::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 4px;
  transition: 0.3s;
}

.desfocated {
  color: rgb(189, 189, 189) !important;
}

#make-account {
  margin-left: clamp(0px, -7.8904px + 2.1918vw, 32px);
  margin-right: clamp(0px, -7.8904px + 2.1918vw, 32px);
  width: fit-content;
}

#login {
  border-radius: 12px;
  border: 3px solid var(--main-color50);
}

.mini-menu {
  padding-top: 8px;
  display: none;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 900px) {
  .simple-menu {
    display: none;
  }
  .mini-menu {
    display: flex;
  }
  #make-account {
    padding: 0;
  }
}
.section_title {
  font-size: clamp(2rem, 1.625rem + 1.6667vw, 3.5rem);
}

.emphasis {
  color: #fca211;
  font-weight: 700;
}

.text_underline {
  display: inline;
  text-decoration-line: underline;
  text-decoration-color: #fca211;
}

.header_index {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.left_content_header_index {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 96px;
  height: fit-content;
}

.left_content_header_index h1 {
  font-size: clamp(2rem, 0.7727rem + 5.4545vw, 6rem);
  font-weight: bolder;
  color: #394552;
  margin-bottom: 10px;
  margin-top: 0;
  overflow-x: hidden;
  max-width: 470px;
}

.left_content_header_index p {
  font-size: clamp(1rem, 0.8977rem + 0.4545vw, 1.25rem);
  color: #394552;
  max-width: 450px;
  font-weight: 500;
}

.right_content_header_index {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding-top: 96px;
  padding-left: 24px;
}

.right_content_header_index img {
  width: clamp(300px, 276.1644px + 23.2877vw, 700px);
  height: fit-content;
}

.agriculture {
  display: flex;
  flex-direction: column;
  margin-top: 96px;
  background-image: linear-gradient(#fca211, #f39a0c);
  padding-left: clamp(24px, 6.2466px + 4.9315vw, 96px);
  padding-right: clamp(24px, 6.2466px + 4.9315vw, 96px);
  padding-top: 96px;
  padding-bottom: 96px;
}

.agriculture h1 {
  color: #fff;
  margin: 0;
}

.part1 p {
  flex-grow: 1;
  color: #fff;
  font-weight: 500;
  justify-content: center;
  font-size: clamp(1rem, 0.8977rem + 0.4545vw, 1.25rem);
}

.part2 {
  flex-grow: 1;
  display: flex;
  gap: 32px;
  margin-top: 24px;
  padding-left: 96px;
  padding-right: 96px;
}

.part2 div {
  height: 300px;
  flex-grow: 3;
  border-radius: 32px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  transform: skewX(30deg);
}

.part2 div:hover {
  flex-grow: 4;
}

.part2 div::before {
  content: "";
  transition: all 0.5s ease-in-out;
  height: 300px;
  background-size: auto 300px;
  display: block;
  background-position: center center;
}

.part2 div:hover::before {
  transform: scale(1.03);
}

.part2 div:nth-child(1)::before {
  background-image: url("/imgs/img1.png");
}

.part2 div:nth-child(2)::before {
  background-image: url("/imgs/img2.png");
}

.part2 div:nth-child(3)::before {
  background-image: url("/imgs/img3.png");
}

.part2 div:nth-child(4)::before {
  background-image: url("/imgs/img4.png");
}

.inovation {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 96px;
}

.inovation::after {
  content: "";
  position: absolute;
  right: 0px;
  align-self: center;
  height: 380px;
  width: 25px;
  border: 3px solid #919191;
  border-right: 0;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.container_img_inovation {
  display: flex;
  flex-grow: 1;
}

.container_img_inovation img {
  width: clamp(500px, 300px + 22.2222vw, 700px);
  transform: translateX(-180px) rotate(90deg);
}

.right_content_inovation {
  display: flex;
  align-items: end;
  flex-direction: column;
  flex-grow: 1;
  max-width: 800px;
  text-align: right;
  color: #394552;
}

.right_content_inovation p {
  font-size: clamp(1rem, 0.8977rem + 0.4545vw, 1.25rem);
  max-width: 480px;
  font-weight: 500;
}

@media (max-width: 900px) {
  .header_index {
    margin-top: 80px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
  }
  .right_content_header_index {
    padding-top: 24px;
    padding-left: 0;
  }
  .left_content_header_index {
    padding-top: 48px;
    justify-content: center;
    flex-grow: initial;
  }
  .left_content_header_index h1 {
    text-align: center;
  }
  .section_title, p {
    text-align: center;
  }
  .flutter_img {
    display: none;
  }
  .inovation {
    margin-top: 54px;
    flex-wrap: wrap-reverse;
  }
  .inovation::after {
    display: none;
  }
  .container_img_inovation {
    justify-content: center;
  }
  .container_img_inovation img {
    transform: translateX(0px) rotate(0deg);
    margin-top: 24px;
  }
  .container_img_inovation img {
    width: clamp(300px, 166.6667px + 37.037vw, 500px);
  }
  .right_content_inovation {
    align-items: center;
  }
  .section_title, p {
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
