@use '../abstracts/variables' as var;

.analisys-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.analisys-content h1{
    font-size: 32px;
    margin: 0;
    color: var.$text-color;
}

.analisys-content p{
    color: var.$text-color;
    margin: 0;
}

.analisys-content a{
    width: 300px;
    border-radius: 8px;
    background-color: var.$main-color;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    margin-top: 16px;
    text-decoration: none;
}