@use '../abstracts/variables' as var;

.data-user-wrapper{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 3px 0 #dddddd;
    gap: 16px;
    padding: 16px;
    margin-bottom: 16px;
}

.header-data-user{
    display: flex;
    gap: 16px;
    width: 100%;
    align-items: center;
    padding: 16px 0 0 0;
}

.btn-edit-wrapper{
    width: fit-content;
    margin-left: auto;
}

.btn-edit-wrapper button{
    border: none;
    background-color: transparent;
    color: var.$main-color;
    cursor: pointer;
    font-size: 16px;
}

.btn-edit-wrapper button:hover{
    text-decoration: underline 1px solid var.$main-color;
}

.information-wrapper{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #dddddd;
    border-radius: 8px;
    padding: 16px;
}

.information-wrapper legend{
    padding: 0 4px 0 4px;
    color: var.$text-color50;
}

.input-data-container{
    display: flex;
    flex-direction: column;
    min-width: 50%; 
    margin-bottom: 16px;   
}

.input-data-container:nth-last-child(1){
    margin-bottom: 0;
}
.input-data-container label{
    font-size: 14px;
    margin-bottom: 4px;
    color: var.$text-color50;
}

.input-data-container input{
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: var.$text-color50;
    cursor: default;
    pointer-events: none;
}

#delete-account{
        width: fit-content;
        border: none;
        background-color: transparent;
        color: red;
        font-size: 16px;
        cursor: pointer;
}

#delete-account:hover{
    text-decoration: underline 1px solid red;
}