@use '../abstracts/variables' as var;

.header_index{
    width: 100%;
    display: flex;
    z-index: 10;
    flex-wrap: nowrap;
}

.left_content_header_index{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 96px;
    height: fit-content;
}

.left_content_header_index h1{
    font-size: clamp(2rem, calc(0.7727rem + 5.4545vw), 6rem);
    font-weight: bolder;
    color: var.$text-color;
    margin-bottom: 10px;
    margin-top: 0;
    overflow-x: hidden;
    max-width: 470px;
}

.left_content_header_index p{
    display: flex;
    font-size: clamp(1rem, 0.8977rem + 0.4545vw, 1.25rem);
    color: var.$text-color;
    max-width: 450px;
}

.right_content_header_index{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding-top: 96px;
    padding-left: 24px;
}

.right_content_header_index img{
    width:  clamp(300px, calc(276.1644px + 23.2877vw), 700px);
    height: fit-content;
}

.flutter_img{
    display: flex;
    justify-content: right;
    width: 100%;
    overflow-x: hidden;
}

.flutter_img img{
    transform: translate(130px);
    width: calc(500px + 15vw);
}

// MEDIA SCREENS
@media (max-width: 900px){
    .header_index{
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
    }
    
    .right_content_header_index{
        padding-top: 24px;
    }

    .left_content_header_index{
        padding-top: 48px;
        justify-content: center;
        flex-grow: initial;
    }
}