@use '../abstracts/variables' as var;

// Presets
.section_title{
    font-size:  clamp(2rem, calc(1.625rem + 1.6667vw), 3.5rem);
}

.emphasis{
    color: var.$main-color;
    font-weight: 700;
}

.text_underline{
    display: inline;
    text-decoration-line: underline;
    text-decoration-color: var.$main-color;
}

// SECTION 01
.header_index{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.left_content_header_index{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 96px;
    height: fit-content;
}

.left_content_header_index h1{
    font-size: clamp(2rem, calc(0.7727rem + 5.4545vw), 6rem);
    font-weight: bolder;
    color: var.$text-color;
    margin-bottom: 10px;
    margin-top: 0;
    overflow-x: hidden;
    max-width: 470px;
}

.left_content_header_index p{
    font-size: var.$p_index_font_size;
    color: var.$text-color;
    max-width: 450px;
    font-weight: 500;
}

.right_content_header_index{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding-top: 96px;
    padding-left: 24px;
}

.right_content_header_index img{
    width:  clamp(300px, calc(276.1644px + 23.2877vw), 700px);
    height: fit-content;
}

// SESSÃO 2
.agriculture{
    display: flex;
    flex-direction: column;
    margin-top: 96px;
    background-image: linear-gradient(#fca211, #f39a0c) ;
    padding-left: clamp(24px, calc(6.2466px + 4.9315vw), 96px);
    padding-right: clamp(24px, calc(6.2466px + 4.9315vw), 96px);
    padding-top: 96px;
    padding-bottom: 96px;
}

.agriculture h1{
    color: #fff;
    margin: 0;
}

.part1 p{
    flex-grow: 1;
    color: #fff;
    font-weight: 500;
    justify-content: center;
    font-size: var.$p_index_font_size;
}

.part2 {
    flex-grow: 1;
    display: flex;
    gap: 32px;
    margin-top: 24px;
    padding-left: 96px;
    padding-right: 96px;
}

.part2 div{
    height: 300px;
    flex-grow: 3;
    border-radius: 32px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    transform: skewX(30deg);
}

.part2 div:hover{
    flex-grow: 4;
}

.part2 div::before{ 
    content: "";
    transition: all 0.5s ease-in-out;
    height: 300px;
    background-size: auto 300px;
    display: block;
    background-position: center center;
}

.part2 div:hover::before{
    transform: scale(1.03);
}

.part2 div:nth-child(1)::before{
    background-image: url('/imgs/img1.png');
}

.part2 div:nth-child(2)::before{
    background-image: url('/imgs/img2.png');
}

.part2 div:nth-child(3)::before{
    background-image: url('/imgs/img3.png');
}

.part2 div:nth-child(4)::before{
    background-image: url('/imgs/img4.png');
}

// SECTION 03
.inovation{
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 96px;
}

.inovation::after{
    content: "";
    position: absolute;
    right: 0px;
    align-self: center;
    height: 380px;
    width: 25px;
    border: 3px solid #919191;
    border-right: 0;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.container_img_inovation{
    display: flex;
    flex-grow: 1;
}

.container_img_inovation img{
    width: clamp(500px, calc(300px + 22.2222vw), 700px);
    transform: translateX(-180px) rotate(90deg);
}

.right_content_inovation{
    display: flex;
    align-items: end;
    flex-direction: column;
    flex-grow: 1;
    max-width: 800px;
    text-align: right;
    color: var.$text-color;
}

.right_content_inovation p{
    font-size: clamp(1rem, 0.8977rem + 0.4545vw, 1.25rem);
    max-width: 480px;
    font-weight: 500;
}

// MEDIA SCREENS
@media (max-width: 900px){
    // Sessão 1
    .header_index{
        margin-top: 80px;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
    }
    
    .right_content_header_index{
        padding-top: 24px;
        padding-left: 0;
    }

    .left_content_header_index{
        padding-top: 48px;
        justify-content: center;
        flex-grow: initial;
    }
    .left_content_header_index h1{
        text-align: center;
    }

    .section_title, p{
        text-align: center;
    }

    .flutter_img{
        display: none;
    }
    
    // Sessão 2


    // Sessão 3
    .inovation{
        margin-top: 54px;
        flex-wrap: wrap-reverse;
    }

    .inovation::after{
        display: none;
    }

    .container_img_inovation{
        justify-content: center;
    }

    .container_img_inovation img{
        transform: translateX(0px) rotate(0deg);
        margin-top: 24px;
    }

    .container_img_inovation img{
        width:  clamp(300px, calc(166.6667px + 37.037vw), 500px);
    }
    
    .right_content_inovation{
        align-items: center;
    }

    .section_title, p{        
        text-align: center;
    }
}