@use '../abstracts/variables' as var;

.container-form-login{
    height: 100vh;
    width: 100vw;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var.$gray-background-color;
}

.form-login{
    width: 500px;
    height: fit-content;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 3px 0 var.$box-shadow;
    padding: 148px 64px 64px 64px;
}

.login-logo{
    width: 100%;
    height: 148px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var.$main-color;
}

.login-logo svg{
    height: 96px;
    width: auto;
}

.login-logo svg path{
    fill: #fff;
    stroke: none;
}

.form-login h1{
    text-align: center;
    color: var.$text-color;
}

.form-login form{
    display: flex;
    flex-direction: column;
}

.form-login form label{
    color: var.$text-color;
    margin-bottom: 4px;
}

.form-login form input{
    padding-left: 16px;
    height: 40px;
    border-radius: 8px;
    margin-bottom: 24px;
    border: 1px solid #bbbbbb;
    background-color: transparent;
}

.form-login form input:focus{
    outline-color: var.$main-color;
}

#submit-login {
    background-color: var.$main-color;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.form-login p{
    color: var.$text-color;
}

.form-login p a {
    color: var.$main-color;
}

.login-messages{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ffebeb;
    padding: 16px;
    width: 100%;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation-name: ease-message;
    animation-duration: .3s;
    animation-iteration-count: 1;
}

.login-messages svg,
.login-messages svg path {
    width: 24px;
    height: 24px;
    stroke: rgb(231, 8, 8);
}

.login-messages p{
    margin: 0;
    color: rgb(231, 8, 8);
    text-align: center;
}

@keyframes ease-message{
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.50;
    }
    100% {
        opacity: 1;
    }
}