@use '../abstracts/variables' as var;

.title-page-reports{
    display: flex;
    align-items: center;
}

.title-page-wrapper{
    width: fit-content;
}

.title-page-wrapper h1{
    color: var.$text-color;
    margin-bottom: 0;    
    font-weight: 500;
}

.title-page-wrapper p{
    color: var.$text-color;
    margin-top: 0;    
}

.export-doc-wrapper{
    display: flex;
    justify-content: right;
    flex-grow: 1;
    padding: 0 16px;
}

.export-doc-wrapper p{
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var.$main-color;
    color: #fff;
    border-radius: 16px;
    padding: 8px 24px;
    cursor: pointer;
    transition: .2s;
}

.export-doc-wrapper p:hover{
    box-shadow: 0 0 3px 0 #00000041;
}

.export-doc-wrapper p svg, .export-doc-wrapper p svg path{
    width: 24px;
    height: 24px;
    stroke: #fff;
}

// SESSÃO SELEÇÃO DE RELATÓRIOS
.data-reports-section{
    display: flex;
    flex-direction: column;
}

.data-reports-section hr{
    border: 3px solid var.$main-color;
    border-radius: 8px;
    background-color: var.$main-color;;
}

.data-reports-wrapper{
    display: flex;
    width: 100%;
    overflow-x: scroll;
    padding: 8px;
    gap: 16px;
}

.data-reports-wrapper::-webkit-scrollbar{
    background: none;
}

.data-reports:not(.selected){
    padding: 4px 16px;
    border-radius: 16px;
    background-color: #fff;
    cursor: pointer;
    transition: .2s;
    min-width: fit-content;
}

.data-reports.selected{
    background-color: var.$main-color;
    cursor: pointer;
    transition: .2s;
    padding: 4px 16px;
    border-radius: 16px;
}

.data-reports.selected p{
    white-space: nowrap;
    color: #fff;
    margin: 12px 16px 12px 16px;
}

.data-reports.selected p span{
    color: #fff;
    font-weight: 400;
}

.data-reports:hover{
    box-shadow: 0 0 4px 0 #0000001e;
}

.data-reports p{
    color: var.$text-color50;
    margin: 12px 16px 12px 16px;
}

.data-reports p span{
    color: var.$text-color50;
    font-weight: 600;
}

// SESSÃO DE IMAGENS ENVIADAS
.send-images-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    padding: 32px 0 0 0;
}

.send-images-wrapper{
    padding: 12px;
    display: flex;
    width: 100%;
    gap: 16px;
    background-color: #fff;
    border-radius: 16px;
    flex-wrap: wrap;
}

.send-image{
    width: 120px;
    height: 120px;
    border-radius: 8px;
    background-color: #ededed;
}

// SESSÃO DE PROBABILIDADE
.probability-section{
    padding: 32px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title-section-reports{
    font-size: 18px;
    color: var.$text-color50;
    margin: 0;
}

.probability-wrapper{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.probability-graphic{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    min-width: 250px;
    height: 280px;
    background-color: #fff;
    border-radius: 16px;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

.probability-graphic p{
    color: var.$text-color50;
    font-weight: 500;
}

.probability-graphic p:nth-child(1){
    font-weight: 600;
    color: var.$text-color50;
}

.total-probability{
    background-color: #f39600;
    border-radius: 20px;
    padding: 4px 16px;
}

.total-probability p{
    color: #fff;
}

.total-probability p span{
    font-weight: 600;
}

// LOCATION section
.location{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 32px 0;
}

.location-wrapper{
    display: flex;
    width: 100%;
    background-color: #fff;
    border-radius: 16px;
    padding: 16px;
    gap: 16px;
}

.map{
    width: 300px;
    height: 300px;
    border-radius: 16px;
    background-color: #ededed;
    background-image: url('/imgs/map.png');
    background-size: cover;
}

.lat-long{
    flex-grow: 1;
}

.lat-long h3{
    color: var.$text-color50;
    font-size: 16px;
    font-weight: 600;
}

.lat-long p{
    color: var.$text-color50;
    border-radius: 16px;
    width: fit-content;
    margin-bottom: 16px;
    cursor: pointer;
}

// SESSÃO PLANO DE AÇÃO
.action-plan-section{
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.action-plan-wrapper{
    display: flex;
    padding: 16px;
    background-color: #fff;
    border-radius: 16px;
    align-items: center;
    gap: 16px;
}

.emphasis-action-plan{
    background-color: var.$main-color;
    border-radius: 999;
    height: 80px;
    width: 8px;
    border-radius: 999px;
}

.action-plan-content{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.action-plan-content p{
    color: var.$text-color50;
    margin: 0;
}


// MEDIA
@media (max-width: 420px){
    .send-images-wrapper{
        justify-content: center;
    }
}