@use '../abstracts/variables' as var;

.nav-link-selected{
    background-color: #00000010;
}

// NAVBAR
.dashboard-nav{
    display: flex;
    height: 100vh;
    width: 90px;
    padding: 32px 12px 12px 12px;
    flex-direction: column;
    transition: 0.5s;
}

.dashboard-nav ul li a span{
    width: 0%;
    display: block;
    overflow: hidden;
    transition: 0.5s;
    white-space: nowrap;
}

// animaçãodo menu
.dashboard-nav:hover {
    width: 250px;
}

.dashboard-nav:hover ul li a span{
    width: 100%;
}

.dashboard-nav:hover .navbar-logo div:nth-child(2) svg{
    opacity: 0;
}
// animaçãodo menu

.navbar-logo{
    width: 100%;
    height: 70px;
    position: relative;
}

.navbar-logo div {
    padding: 0 0 0 10px;
    overflow: hidden;
    height: 100%;
    width: 96%;
    position: absolute;
}

.navbar-logo div svg{
    transition: .3s;
    height: 60px;
}

.navbar-logo div:nth-child(2) svg path{
    fill: var.$text-color;
}

.nav-links{
    margin-top: 32px;
    list-style-type: none;
    width: 100%;
    padding: 0;
}

.nav-links li{
    align-items: center;
    display: flex;
    width: 100%;
    border-radius: 60px;
    cursor: pointer;
    margin-bottom: 8px;
    gap: 8px;
    padding: 0px 16px 0px 20px;
}

// Para o ícone ser clicável com menu retraido
.nav-links li a.icon-link{
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
}

.nav-links li a{
    width: 100%;
    height: 100%;
    display: block;
    padding: 12px 0px 12px 0px;
    text-decoration: none;
    color: var.$text-color50;
    font-weight: 600;
    font-size: 14px;
}


.nav-links li svg{
    min-width: 24px;
    height: 24px;
}

.nav-links li svg path{
    stroke: var.$text-color50;
    width: 100%;
    height: 100%;
}    

.nav-links li:not(.nav-link-selected):hover{
    background-color: var.$text-color1;
}

.container-button-exit{
    margin-top: auto;
}

#exit-account{
    border: 0;
    background-color: #fff;
    color: red;
    font-weight: 700;
    padding: 8px;
    border-radius: 60px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

#exit-account:hover{
    text-decoration: underline solid red;
}

@media (max-width: 600px){
    .dashboard-nav:hover {
        width: 90px;
    }

    .dashboard-nav:hover ul li a span{
        width: 0%;
    }
}