@use '../abstracts/variables' as var;

.nav-link-selected{
    background-color: #00000010;
}

// NAVBAR
.dashboard-nav{
    display: flex;
    height: 100vh;
    width: fit-content;
    max-width: 250px;
    padding: 32px 12px 12px 12px;
    flex-direction: column;
    transition: 0.3s;
}


.nav-links li a span{
    width: 100%;
    white-space:  no-wrap;
    transition: width 0.3s ease-in-out;
    display: block;
    overflow: hidden;
}

.dashboard-nav:hover .nav-links li a span{
    display: none;
}
.navbar-logo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    padding: 8px;
}

.navbar-logo img{
    width: 150px;
    height: auto;
}

.nav-links{
    margin-top: 32px;
    list-style-type: none;
    padding: 0;
}
.nav-links li{
    width: 100%;
    height: fit-content;
    border-radius: 60px;
    cursor: pointer;
    margin-bottom: 8px;
}

.nav-links li a{
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 8px 16px 8px 16px;
}

.nav-links li svg{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.nav-links li svg path{
    stroke: var.$text-color50;
}    

.nav-links li:hover{
    background-color: var.$text-color1;
}

.nav-links li a{
    text-decoration: none;
    color: var.$text-color50;
    font-weight: 600;
    font-size: 14px;
}

.container-button-exit{
    margin-top: auto;
}

#exit-account{
    border: 0;
    background-color: #fff;
    color: red;
    font-weight: 700;
    padding: 8px;
    border-radius: 60px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

#exit-account:hover{
    background-color: #fdeaea;
}