@use '../abstracts/variables' as var;

.navbar-landingpage{
    display: flex;
    width: 100%;
    height: 72px;
    margin: 0;
    box-shadow: 0 3px 3px 0 #00000028;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    position: fixed;
    top: 0;
    background-color: #F8F8F8;
    z-index: 99;
}

.logo{
    width: 150px;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
}

.logo a img{
    width: 100%;
}

// Menu full width
.wrapper-nav-links{
    display: flex;
    flex-grow: 1;
    height: 100%;
    justify-content: right;
    align-items: center;
}

.wrapper-nav-links a{
    color: var.$text-color;
    text-decoration: none;
    font-size: 1rem;
    padding: 8px 16px;
    position: relative;
    transition: .2s;
}

.wrapper-nav-links a:nth-child(4){
    color: var.$main-color;
}

.wrapper-nav-links a:hover{
    color: var.$main-color;
}

.wrapper-nav-links a:nth-child(4):hover{
    background-color: var.$main-color;
    color: #fff;
}

.selected-nav-link{
    color: var.$main-color !important;
}

.link-decoration::after{
    content: "";
    width: 100%;
    height: 4px;
    background-color: var.$main-color;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 4px;
    transition: 0.3s;
}

.desfocated{
    color: rgb(189, 189, 189) !important;
}

#make-account{
    margin-left:  clamp(0px, -7.8904px + 2.1918vw, 32px);
    margin-right:  clamp(0px, -7.8904px + 2.1918vw, 32px);
    width: fit-content;
}

#login{
    border-radius: 12px;
    border: 3px solid var(--main-color50);
}

// Menu para telas pequenas
.mini-menu{
    padding-top: 8px;
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

@media (max-width: 900px){
    .simple-menu{
        display: none;
    }

    .mini-menu{
        display: flex;
    }

    #make-account{
        padding: 0;
    }
}