
html, body {
    font-size: 100%; 
}

body{
    padding-top: 12px;
    margin: 0;
    max-width: 100%;
    background-color: #F8F8F8;
}

@font-face {
    font-family: 'Montserrat'; 
    src: url('/fonts/Montserrat/Montserrat-VariableFont_wght') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

*{
    font-family: 'Montserrat', sans-serif;
}

/* Isso garante que a largura e altura definidas JÁ INCLUEM o padding e border. */
*, *::before, *::after {
    box-sizing: border-box;
}