
html, body {
    font-size: 100%; 
}

body{
    padding-top: 12px;
    padding-right: clamp(24px, calc(6.2466px + 4.9315vw), 96px);
    padding-bottom: 0;
    padding-left: clamp(24px, calc(6.2466px + 4.9315vw), 96px);
    margin: 0;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Montserrat'; 
    src: url('/fonts/Montserrat/Montserrat-VariableFont_wght') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

*{
    font-family: 'Montserrat', sans-serif;
}
