
html, body {
    padding-top: 12px;
    padding-right: clamp(1rem, -0.2273rem + 5.4545vw, 4rem);
    padding-bottom: 0;
    padding-left: clamp(1rem, -0.2273rem + 5.4545vw, 4rem);
    margin: 0;
    font-size: 100%;
}

@font-face {
    font-family: 'Montserrat'; 
    src: url('/fonts/Montserrat/Montserrat-VariableFont_wght') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

*{
    font-family: 'Montserrat', sans-serif;
}
