// GERAL
.dashboard-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
}

// DASHBOARD CONTENT
.dashboard-content{
    flex-grow: 1;
    height: 100vh;
    overflow-y: scroll;
    background-color: #f0f3f7;
    flex-direction: column;
    padding: 0 24px 32px 24px;
}