@use '../abstracts/variables' as var;

$spacers:(
    4: 4px,
    8: 8px,
    12: 12px,
    16: 16px,
    20: 20px,
    24: 24px,
    28: 28px,
    32: 32px,
    36: 36px,
    40: 40px,
    48: 48px,
    56: 56px,
    64: 64px,
    96: 96px,
);

// TAMANHOS DIVERSOS (PX)
@each $key, $value in $spacers{
    // font-size
    ._font-size-#{$key}{
        font-size: #{$value};
    } 

    // border-radius
    ._border-radius-#{$key}{
        border-radius: #{$value};
    }

    // padding
    ._padding-top-#{$key}{
        padding-top: #{$value};
    }

    ._padding-right-#{$key}{
        padding-right: #{$value};
    }

    ._padding-bottom-#{$key}{
        padding-bottom: #{$value};
    }

    ._padding-left-#{$key}{
        padding-left: #{$value};
    }

    ._padding-all-#{$key}{
        padding: #{$value};
    }

    // margin
    ._margin-top-#{$key}{
        margin-top: #{$value};
    }

    ._margin-right-#{$key}{
        margin-right: #{$value};
    }

    ._margin-bottom-#{$key}{
        margin-bottom: #{$value};
    }

    ._margin-left-#{$key}{
        margin-left: #{$value};
    }

    ._margin-all-#{$key}{
        margin: #{$value};
    }
}

// RESPONSIVO
.pattern-padding{
    padding-left: clamp(24px, calc(6.2466px + 4.9315vw), 96px);
    padding-right: clamp(24px, calc(6.2466px + 4.9315vw), 96px);
}

// alinhamento flex
._justify-left{
    display: flex;
    justify-content: left;
}
._justify-center{
    display: flex;
    justify-content: center;
}
._justify-right{
    display: flex;
    justify-content: right;
}
._align-center{
    display: flex;
    align-items: center;
}

// TEXTOS
._color-gray{
    color: var.$text-color;
}
._color-main{
    color: var.$main-color;
}

// ALINHAMENTO FLEX
_flex-row{
    display: flex;
    flex-direction: row;
}

_flex-column{
    display: flex;
    flex-direction: column;
}