:root{
    --text-color: #394552;
    --main-color: #fca211;
    --main-color50: #fca21181;
}

$main-color: #fca211;

$text-color: #394552;
$p_index_font_size : clamp(1rem, 0.8977rem + 0.4545vw, 1.25rem);