:root{
    --text-color: #394552;
    --text-color50: #394552c4;
    --text-color10: #3945527a;
    --text-color1: #39455210;

    --main-color: #fca211;
    --main-color50: #fca21181;
    --main-color10: #fca2112f;
    --main-color1: #fc211111;

    --gray-background-color: #00000010;

    --box-shadow: #00000010;
}

$gray-background-color: var(--gray-background-color);

$main-color: var(--main-color);
$main-color50: var(--main-color50);
$main-color10: var(--main-color10);
$main-color1: var(--main-color1);

$text-color: var(--text-color);
$text-color50: var(--text-color50);
$text-color10: var(--text-color10);
$text-color1: var(--text-color1);

$box-shadow: var(--box-shadow);

$p-index-font-size : clamp(1rem, 0.8977rem + 0.4545vw, 1.25rem);